@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-red-hat-display: var(--font-red-had-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red-hat-display);
}
